<head>
</head>

</body>
<h1> Welcome to the Quiz! </h1>
<h2> Do you want to attempt the first devilish question? </h2>
<form action='/first_question' method='get'>
  <input type='submit' value='Yes!' />
</form>
<body>
