<head>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
<h1> Welcome to the Quiz! </h1>
<h2> Do you want to attempt the first devilish question? </h2>
<form action='/initialize_game' method='post'>
  <p>Enter your name if you want a place on the leaderboard (TBC).</p>
  <input type='text' name='player_name'/>
  <input type='submit' value='Play!' />
</form>

<form action='/leaderboard' method='post'>
  <p>Or, click here if you want to see the leaderboard.</p>
  <input type='submit' value='Leaderboard' />
</form>
</body>
