<head>
</head>

</body>
<h1> Welcome to the Quiz! </h1>
<h2> Here is your first devilish question: </h2>
<p> How many holes does a polo have? </p>
<form action='/first_question' method='get'>
  <input type="text" name="answer" />
  <input type='submit' value='Yes!' />
</form>
<body>
